Repository honeycombio/honeycomb-opentelemetry-web, pull requests merged in 2024-11, with the labels that each got.

#385 rel: v0.9.0
  README.md
  packages/honeycomb-opentelemetry-web/CHANGELOG.md
  packages/honeycomb-opentelemetry-web/README.md
  packages/honeycomb-opentelemetry-web/package-lock.json
  packages/honeycomb-opentelemetry-web/package.json
  packages/honeycomb-opentelemetry-web/src/version.ts
Labels: type: maintenance, no-changelog, version: no bump

#386 docs: add documentation on ContextManagers and Zone.js
  packages/honeycomb-opentelemetry-web/README.md
Labels: type: documentation, version: no bump

#399 rel: Release v0.10.0
  README.md
  packages/honeycomb-opentelemetry-web/CHANGELOG.md
  packages/honeycomb-opentelemetry-web/README.md
  packages/honeycomb-opentelemetry-web/package-lock.json
  packages/honeycomb-opentelemetry-web/package.json
  packages/honeycomb-opentelemetry-web/src/version.ts
Labels: no-changelog, version: no bump
