Repository honeycombio/honeycomb-opentelemetry-web, pull requests merged in 2024-05, with the labels that each got.

#137 rel: bump to version 0.2.0
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  src/version.ts
Labels: type: maintenance, no-changelog, version: no bump

#143 fix: properly declare devDependencies
  RELEASING.md
  package-lock.json
  package.json
Labels: type: dependencies, version: bump patch

#145 rel: bump to version 0.2.1
  CHANGELOG.md
  package-lock.json
  package.json
  src/version.ts
Labels: type: maintenance, no-changelog, version: no bump

#146 maint: adding more detail to the release guide
  RELEASING.md
Labels: no-changelog, version: no bump

#151 feat: drop axios requirement
  package-lock.json
  package.json
  src/console-trace-link-exporter.ts
  test/console-trace-link-exporter.test.ts
Labels: version: bump patch

#159 rel: bump to version 0.3.0
  CHANGELOG.md
  package-lock.json
  package.json
  src/version.ts
Labels: type: maintenance, no-changelog, version: no bump
