Repository honeycombio/honeycomb-opentelemetry-web, pull requests merged in 2025-07, with the labels that each got.

#567 rel: Releasing v0.21.0
  packages/honeycomb-opentelemetry-web/CHANGELOG.md
  packages/honeycomb-opentelemetry-web/package-lock.json
  packages/honeycomb-opentelemetry-web/package.json
  packages/honeycomb-opentelemetry-web/src/version.ts
Labels: type: maintenance, no-changelog, version: no bump

#571 feat: Export attribute names as constants
  packages/honeycomb-opentelemetry-web/src/browser-attributes-resource.ts
  packages/honeycomb-opentelemetry-web/src/browser-attributes-span-processor.ts
  packages/honeycomb-opentelemetry-web/src/entry-page-resource.ts
  packages/honeycomb-opentelemetry-web/src/honeycomb-resource.ts
  packages/honeycomb-opentelemetry-web/src/index.ts
  packages/honeycomb-opentelemetry-web/src/semantic-attributes.ts
  packages/honeycomb-opentelemetry-web/src/web-vitals-autoinstrumentation.ts
Labels: type: enhancement, version: bump minor

#575 fix: export experimental user interaction instrumentation
  packages/honeycomb-opentelemetry-web/src/index.ts
Labels: type: bug, version: bump patch

#576 rel: v1.0.1
  packages/honeycomb-opentelemetry-web/CHANGELOG.md
  packages/honeycomb-opentelemetry-web/package-lock.json
  packages/honeycomb-opentelemetry-web/package.json
  packages/honeycomb-opentelemetry-web/src/version.ts
Labels: no-changelog, version: no bump
